tui-pagination {
    margin-top: 16px;
    display: flex;
}

.table {
    width: 100%;
}

td {
    border-bottom: 1px solid #e0e0e0;
    &:last-child {
            padding-right: 5px;
        }
}

th {
    white-space: nowrap;
    border-color: transparent;
    border-bottom: 1px solid #e0e0e0;
    padding: 1rem;
}

.menu {
    width: 12.5rem;
}

.completed,
.denied,
.processing,
.basket {
    display: flex;
    align-items: center;
 
    &:before {
        content: '';
        width: 0.5rem;
        height: 0.5rem;
        border-radius: 100%;
        margin-right: 0.5rem;
        background: #F45725;
    }
}
 
.completed:before {
    background: var(--tui-success-fill);
}

.processing:before {
    background: #70B6F6;
}

.basket:before {
    background: #fddf34;
}

.filters {
    width: auto;
    margin-top: 24px;
    margin-bottom: 12px;
  }
  
  .filter-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px; /* Промежуток между фильтрами */
  }
  
  .b-form {
    flex: 1; /* Каждый элемент фильтра будет равномерно занимать пространство */
  }
  
  .search-container {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
  }
  
  .search-input {
    width: 100%;
    max-width: 250px;
  }
  
  /* Style adjustments for smaller screens */
@media (max-width: 768px) {
    .filter-bar {
        flex-direction: column;
        align-items: stretch;
    }

    .search-section {
        order: -1; /* Move search to the top */
        margin-bottom: 10px;
    }
}

.secondary-text {
    color: #1B1F3BA6;
}

tui-dropdown {
    display: table !important;
}

.table-container {
    max-height: calc(85vh - 200px); /* Вычтите суммарную высоту заголовка, вкладок, фильтров и других элементов */
    overflow-y: auto;
  }