tui-pagination {
    margin-top: 16px;
    display: flex;
}

.table {
    width: 100%;
}

td {
    border-bottom: 1px solid #e0e0e0;
    &:last-child {
            padding-right: 5px;
        }
}

th {
    white-space: nowrap;
    border-color: transparent;
    border-bottom: 1px solid #e0e0e0;
    padding: 1rem;
}

.menu {
    width: 12.5rem;
}

.completed,
.denied,
.processing,
.basket {
    display: flex;
    align-items: center;
 
    &:before {
        content: '';
        width: 0.5rem;
        height: 0.5rem;
        border-radius: 100%;
        margin-right: 0.5rem;
        background: #F45725;
    }
}
 
.completed:before {
    background: var(--tui-success-fill);
}

.processing:before {
    background: #70B6F6;
}

.basket:before {
    background: #fddf34;
}

.filters {
    width: auto;
    margin-top: 24px;
    margin-bottom: 12px;
  }
  
  .filter-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px; /* Промежуток между фильтрами */
  }
  
  .b-form {
    flex: 1; /* Каждый элемент фильтра будет равномерно занимать пространство */
  }
  
  .search-container {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
  }
  
  .search-input {
    width: 100%;
    max-width: 250px;
  }
  
  /* Style adjustments for smaller screens */
@media (max-width: 768px) {
    .filter-bar {
        flex-direction: column;
        align-items: stretch;
    }

    .search-section {
        order: -1; /* Move search to the top */
        margin-bottom: 10px;
    }
}

.secondary-text {
    color: #1B1F3BA6;
}

tui-dropdown {
    display: table !important;
}

.table-container {
    max-height: calc(85vh - 200px); /* Вычтите суммарную высоту заголовка, вкладок, фильтров и других элементов */
    // overflow-y: auto;
  }

  .bulk-actions-footer {
    position: fixed;
    inset-inline-end: 0;
    bottom: 0;
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-inline: 24px;
    padding-block: 0;
    box-sizing: border-box;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    line-height: 64px;
    background-color: rgba(255, 255, 255);
    border-block-start: 1px solid rgba(5, 5, 5, 0.06);
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    color: rgba(0, 0, 0, 0.88);
    transition: all 0.2s ease 0s;
  }
  
  .bulk-info {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.88);
  }
  
  .bulk-buttons {
    margin-left: auto; /* Прижмет кнопки вправо */
    display: flex;
    gap: 10px; /* Промежуток между кнопками */
  }
  