@import '@taiga-ui/core/styles/taiga-ui-local.less';

.custom-header {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.12);
  background: #ffffff;
  z-index: 10;

  .left-section, .right-section {
    display: flex;
    align-items: center;
  }

  .logo-img {
    width: 136px; 
    height: 64px;
    margin-right: 24px; 
  }

  .right-section {
    display: flex;
    gap: 24px; 
  }

  tui-input {
    min-width: 225px;
    margin-left: auto;
  }

  ::ng-deep tui-tabs .t-underline {
    position: absolute;
    bottom: 0;
    margin-left: 6px;
    width: 12px !important;
  }

  tui-svg {
    color: #526ED3;
  }

  tui-tabs {
    box-shadow: none;
    position: relative;
    height: 64px;
  }
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
  .custom-header {
    flex-direction: column;
    align-items: center;
  }

  .left-section, .right-section {
    flex-direction: column;
    align-items: center;
    width: 100%;
    text-align: center;
    margin-top: 10px;
  }

  tui-input {
    width: 100%;
    margin-top: 10px;
  }
}

@media (max-width: 768px) {
  .logo-img {
    width: 120px;
    height: 56px;
  }

  .right-section {
    gap: 16px;
  }
}

.sidebar {
  width: 100%;
  padding: 20px;
  background: #F7F7F7;
}

/* Adding border to the sidebar for better visual separation */
.sidebar {
  border-right: 1px solid #EDEDED;
}
