.custom-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.12);
  background: #ffffff;
  z-index: 10;
}

.left-section {
  flex: 0 0 auto;
}

.right-section {
  display: flex;
  align-items: center;
}

.logo-img {
  width: 136px;
  height: 64px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px;
  background: #f6f6f6;
}

.main-container {
  display: flex;
  width: 100%;
  height: calc(100vh - 160px); /* Adjust height as needed */
}

.left-panel {
  flex: 1;
  height: 100%;
}

.right-panel {
  max-width: 400px;
  flex: 1;
  padding-left: 32px;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
  .custom-header {
    flex-direction: column;
    align-items: center;
  }

  .left-section,
  .right-section {
    width: 100%;
    text-align: center;
    margin-top: 10px;
  }

  .logo-img {
    width: 120px;
    height: 56px;
    margin-right: 0 !important;
  }

  .right-section {
    margin-top: 10px;
    justify-content: center;
    margin-bottom: 15px;
  }

  .main-container {
    flex-direction: column;
  }

  .left-panel,
  .right-panel {
    width: 100%;
    padding: 0;
  }

  .right-panel {
    padding-top: 20px;
  }
}

.tui-accordion__item-body {
  background-color: #ececec;
}

tui-toggle {
  margin-right: 12px;
}

.points-range {
  padding-top: 15px;
}

.btn-draw {
  width: -webkit-fill-available;
}

.custom-accordion-content {
  background-color: #ECECEC;
  padding: 20px;
  margin: -20px;
}