.custom-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.12);
  background: #ffffff;
  z-index: 10;
}

.left-section {
  flex: 0 0 auto;
}

.right-section {
  display: flex;
  align-items: center;
}

.logo-img {
  width: 136px;
  height: 64px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px;
  background: #f6f6f6;
  height: calc(100vh - 128px);
}

.main-container {
  display: flex;
  width: 100%;
  height: 100%;
  gap: 32px;
}

.left-panel {
  flex: 1;
  min-width: 0;
  height: 100%;
  position: relative;
}

.right-panel {
  flex: 0 0 420px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.right-panel tui-scrollbar {
  flex: 1;
  overflow-y: auto;
}

.right-panel tui-accordion {
  display: flex;
  flex-direction: column;
  height: 100%;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
  .content {
    height: auto;
    padding: 16px;
  }

  .custom-header {
    flex-direction: column;
    align-items: center;
  }

  .left-panel,
  .right-panel {
    flex: none;
    height: 50vh;
    }

  .logo-img {
    width: 120px;
    height: 56px;
    margin-right: 0 !important;
  }

  .right-section {
    margin-top: 10px;
    justify-content: center;
    margin-bottom: 15px;
  }

  .main-container {
    flex-direction: column;
    gap: 16px;
  }

  .left-panel,
  .right-panel {
    width: 100%;
    padding: 0;
  }

  .right-panel {
    width: 100%;
    max-width: 100%;
  }

  .filter-button {
    bottom: 10px;
    right: 10px;
  }

  .year-range-slider {
    bottom: 60px;
    right: 10px;
    width: 180px;
  }
}

/* Скрываем элементы при маленьком масштабе */
@media (max-width: 480px) {
  .filter-button,
  .year-range-slider {
    transform: scale(0.9);
  }
}

.tui-accordion__item-body {
  background-color: #ececec;
}

tui-toggle {
  margin-right: 12px;
}

.points-range {
  padding-top: 15px;
}

.btn-draw {
  width: -webkit-fill-available;
}

.custom-accordion-content {
  background-color: #ececec;
  padding: 16px;
  margin: -20px;
}

.year-label-container {
  display: flex;
  justify-content: space-between;
}

.year-label {
  background-color: white;
  padding: 2px 6px;
  border-radius: 3px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15); /* Тень для выделения */
  font-size: 12px;
  color: #555;
}

.info.legend {
  background: white;
  padding: 6px 8px;
  font: 14px/16px Arial, Helvetica, sans-serif;
  border-radius: 5px;
}

.info.legend i {
  background: white;
  padding: 6px 8px;
  font: 14px/16px Arial, Helvetica, sans-serif;
  border-radius: 5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

.info.legend span {
  font-size: 12px;
}

.map-container {
  position: relative;
  height: 100%;
}

.filter-button {
  position: absolute;
  bottom: 20px;
  right: 20px;
  z-index: 1000; /* Ensure it appears above the map */
  background-color: white;
  border-radius: 50%;
  box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.08),
    0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
}

.year-range-slider {
  position: absolute;
  bottom: 70px; // Adjust to appear above the filter button
  right: 20px;
  width: 200px; // Adjust as needed
  padding: 10px;
  background-color: white;
  border-radius: 8px;
  z-index: 1000;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

.year-labels {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  color: #555;
  margin-top: 5px;
}

.map-loader {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300px;
  transform: translate(-50%, -50%);
  z-index: 1000; /* Обеспечивает отображение поверх карты */
}

::ng-deep path.no-focus-poly.leaflet-interactive:focus {
  outline: none !important;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); // Semi-transparent background
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; // Ensure it's on top
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
}

::ng-deep tui-dialog .t-content {
  padding: 0 !important;
}

.t-alert_status_success {
  color: var(--tui-success-fill);
  background: var(--tui-success-bg) !important;
  box-shadow: var(--tui-shadow-dropdown);
  border-radius: var(--tui-radius-s);
}

.t-alert_status_info {
  color: var(--tui-info-fill);
  background: var(--tui-info-bg) !important;
  box-shadow: var(--tui-shadow-dropdown);
  border-radius: var(--tui-radius-s);
}

.t-alert {
  display: flex;
  align-items: flex-start;
  padding: 12px;
}

.t-alert__icon {
  margin-right: 12px;
}

.t-alert__content {
  flex: 1;
}

.t-alert__title {
  font-size: 15px;
  line-height: 24px;
  margin-bottom: 4px;
  color: black;
  font-weight: bold;
}

.t-alert__text {
  margin-bottom: 12px;
  color: #1b1f3ba6;
  font-weight: bold;
  font-size: 13px;
}

.t-alert__buttons {
  display: flex;
  gap: 14px;
}
