<!-- <div *ngIf="currentUser; else loginPrompt" class="container"> -->
  <tui-root>
    <div class="sidebar">
      <tui-tabs vertical="left">
        <button tuiTab>Личный кабинет</button>
        <button tuiTab>Заказы</button>
        <!-- Add more tabs as needed -->
      </tui-tabs>
    </div>
  
    <div class="content">
      <!-- Your container content goes here -->
      <router-outlet></router-outlet>
  
      <ng-template #loginPrompt>
        <p>Please login.</p>
      </ng-template>
    </div>
  </tui-root>

<ng-template #loginPrompt>
  <p>Please login.</p>
</ng-template>
