<!-- <div *ngIf="currentUser; else loginPrompt" class="container"> -->
  <tui-root>
    <div class="sidebar">
      <tui-tabs vertical="left"> 
        <button tuiTab>
          <tui-svg
              src="tuiIconMonitorLarge"
              class="tui-space_right-2"
          ></tui-svg>
          Личный кабинет
        </button>
        <button tuiTab>
        <tui-svg
        src="tuiIconBriefcaseLarge"
        class="tui-space_right-2"
    ></tui-svg>
    Заказы</button>
        <!-- Add more tabs as needed -->
        </tui-tabs>
      </div>
  
    <div class="content">
      <!-- Your container content goes here -->
      <router-outlet></router-outlet>
  
      <ng-template #loginPrompt>
        <p>Please login.</p>
      </ng-template>
    </div>
  </tui-root>

<ng-template #loginPrompt>
  <p>Please login.</p>
</ng-template>
