<tui-root>
    <div class="col-md-12">
      <div class="card card-container">
        <h2 tuiTextfield size="xl" class="text-header">Восстановление пароля</h2>
        <form (ngSubmit)="onSubmit(f)" #f="ngForm" novalidate>
          <div class="form-group input-email">
            <tui-input
              [(ngModel)]="form.email"
              name="email"
              required
              email
              #emailInput="ngModel"
              [tuiTextfieldCleaner]="true"
              [ngClass]="{ 'is-invalid': f.submitted && emailInput.invalid }"
            >
              Введите ваш E-mail
              <input tuiTextfield type="email" />
            </tui-input>
            <div
              *ngIf="emailInput.invalid && (emailInput.dirty || f.submitted)"
              class="invalid-feedback"
            >
              <div *ngIf="emailInput.errors?.['required']">Обязательно к заполнению!</div>
              <div *ngIf="emailInput.errors?.['email']">Введите действительный адрес электронной почты</div>
            </div>
          </div>
  
          <button size="l" appearance="primary" tuiButton type="submit">
            Отправить
          </button>
        </form>
      </div>
      <tui-notification
        *ngIf="showSuccessNotification"
        status="success"
        [hasIcon]="false"
        (close)="onCloseNotification()"
      >
        Письмо для сброса пароля отправлено на вашу почту.
      </tui-notification>
      <tui-notification
        *ngIf="showErrorNotification"
        status="error"
        [hasIcon]="false"
        (close)="onCloseNotification()"
      >
        {{ errorMessage }}
      </tui-notification>
    </div>
  </tui-root>
  