<form [formGroup]="form" (ngSubmit)="onSave()">
  <!-- Переключение типа клиента -->
  <div class="radio-group">
    <tui-radio-block item="INDIVIDUALS" formControlName="clientType">
      Физическое лицо
    </tui-radio-block>
    <tui-radio-block item="ENTERPRISER" formControlName="clientType">
      Индивидуальный предприниматель
    </tui-radio-block>
    <tui-radio-block item="LEGAL" formControlName="clientType">
      Юридическое лицо
    </tui-radio-block>
  </div>

  <tui-scrollbar waIntersectionRoot class="scrollbar">
    <div style="max-height: 55vh;">
      <div formGroupName="data">
        <ng-container [ngSwitch]="form.get('clientType')!.value">

          <!-- Физическое лицо -->
          <ng-container *ngSwitchCase="'INDIVIDUALS'">
            <h3>Информация для физического лица</h3>
            <tui-input formControlName="lastName">
              Фамилия
              <input tuiTextfield placeholder="Введите фамилию" />
            </tui-input>
            <tui-error formControlName="lastName" [error]="[] | tuiFieldError | async"></tui-error>

            <tui-input formControlName="firstName">
              Имя
              <input tuiTextfield placeholder="Введите имя" />
            </tui-input>
            <tui-error formControlName="firstName" [error]="[] | tuiFieldError | async"></tui-error>

            <tui-input formControlName="middleName">
              Отчество
              <input tuiTextfield placeholder="Введите отчество (необязательно)" />
            </tui-input>

            <tui-input-phone formControlName="phone">
              Телефон
              <input tuiTextfield placeholder="Введите телефон" autocomplete="tel" />
            </tui-input-phone>
            <tui-error formControlName="phone" [error]="[] | tuiFieldError | async"></tui-error>

            <tui-input formControlName="email">
              Электронная почта
              <input tuiTextfield placeholder="Введите email" />
            </tui-input>
            <tui-error formControlName="email" [error]="[] | tuiFieldError | async"></tui-error>
          </ng-container>

          <!-- Индивидуальный предприниматель -->
          <ng-container *ngSwitchCase="'ENTERPRISER'">
            <h3>Информация для индивидуального предпринимателя</h3>
            <tui-input formControlName="lastName">
              Фамилия
              <input tuiTextfield placeholder="Введите фамилию" />
            </tui-input>
            <tui-error formControlName="lastName" [error]="[] | tuiFieldError | async"></tui-error>

            <tui-input formControlName="firstName">
              Имя
              <input tuiTextfield placeholder="Введите имя" />
            </tui-input>
            <tui-error formControlName="firstName" [error]="[] | tuiFieldError | async"></tui-error>

            <tui-input formControlName="middleName">
              Отчество
              <input tuiTextfield placeholder="Введите отчество (необязательно)" />
            </tui-input>

            <tui-input-phone formControlName="phone">
              Телефон
              <input tuiTextfield placeholder="Введите телефон" autocomplete="tel" />
            </tui-input-phone>
            <tui-error formControlName="phone" [error]="[] | tuiFieldError | async"></tui-error>

            <tui-input formControlName="email">
              Электронная почта
              <input tuiTextfield placeholder="Введите email" />
            </tui-input>
            <tui-error formControlName="email" [error]="[] | tuiFieldError | async"></tui-error>

            <tui-input formControlName="inn">
              ИНН / Поиск
              <input tuiTextfield placeholder="Введите часть ИНН, ОГРНИП и адреса для автопоиска"
                (input)="onCompanyNameInput($any($event.target).value)" />
            </tui-input>
            <tui-error formControlName="inn" [error]="[] | tuiFieldError | async"></tui-error>
            <ul class="suggestions" *ngIf="showCompanySuggestions && companySuggestions.length">
              <li *ngFor="let s of companySuggestions" (click)="selectCompanySuggestion(s)">
                <tui-tag [value]="s.value" [hoverable]="true" [autoColor]="true"></tui-tag>
              </li>
            </ul>

            <tui-input formControlName="ogrnip">
              ОГРНИП
              <input tuiTextfield placeholder="15 цифр" />
            </tui-input>
            <tui-error formControlName="ogrnip" [error]="[] | tuiFieldError | async"></tui-error>

            <tui-input formControlName="registrationAddress">
              Адрес регистрации
              <input tuiTextfield placeholder="Введите адрес регистрации" />
            </tui-input>
            <tui-error formControlName="registrationAddress" [error]="[] | tuiFieldError | async"></tui-error>

            <tui-input formControlName="checkingAccount">
              Расчетный счет
              <input tuiTextfield placeholder="20 цифр" />
            </tui-input>
            <tui-error formControlName="checkingAccount" [error]="[] | tuiFieldError | async"></tui-error>
          </ng-container>

          <!-- Юридическое лицо -->
          <ng-container *ngSwitchCase="'LEGAL'">
            <h3>Информация для юридического лица</h3>

            <tui-input formControlName="fullNameOrganization">
              Полное наименование организации / Поиск
              <input tuiTextfield placeholder="Введите часть ИНН, ОГРН или названия"
                (input)="onCompanyNameInput($any($event.target).value)" />
            </tui-input>
            <tui-error formControlName="fullNameOrganization" [error]="[] | tuiFieldError | async"></tui-error>
            <ul class="suggestions" *ngIf="showCompanySuggestions && companySuggestions.length">
              <li *ngFor="let s of companySuggestions" (click)="selectCompanySuggestion(s)">
                <tui-tag [value]="s.value" [hoverable]="true" [autoColor]="true"></tui-tag>
              </li>
            </ul>

            <tui-input formControlName="abbreviatedNameOrganization">
              Сокращенное наименование
              <input tuiTextfield placeholder="Введите сокращенное наименование" />
            </tui-input>
            <tui-error formControlName="abbreviatedNameOrganization" [error]="[] | tuiFieldError | async"></tui-error>

            <tui-input formControlName="inn">
              ИНН
              <input tuiTextfield placeholder="Введите ИНН" />
            </tui-input>
            <tui-error formControlName="inn" [error]="[] | tuiFieldError | async"></tui-error>

            <tui-input formControlName="kpp">
              КПП
              <input tuiTextfield placeholder="9 цифр" />
            </tui-input>
            <tui-error formControlName="kpp" [error]="[] | tuiFieldError | async"></tui-error>

            <tui-input formControlName="ogrn">
              ОГРН
              <input tuiTextfield placeholder="13 цифр" />
            </tui-input>
            <tui-error formControlName="ogrn" [error]="[] | tuiFieldError | async"></tui-error>

            <tui-input formControlName="okpo">
              ОКПО
              <input tuiTextfield placeholder="8 цифр" />
            </tui-input>
            <tui-error formControlName="okpo" [error]="[] | tuiFieldError | async"></tui-error>

            <tui-input formControlName="legalAddress">
              Юридический адрес
              <input tuiTextfield placeholder="Введите юридический адрес" />
            </tui-input>
            <tui-error formControlName="legalAddress" [error]="[] | tuiFieldError | async"></tui-error>

            <tui-input-phone formControlName="phone">
              Телефон
              <input tuiTextfield placeholder="Введите телефон" autocomplete="tel" />
            </tui-input-phone>
            <tui-error formControlName="phone" [error]="[] | tuiFieldError | async"></tui-error>

            <tui-input formControlName="email">
              Электронная почта
              <input tuiTextfield placeholder="Введите email" />
            </tui-input>
            <tui-error formControlName="email" [error]="[] | tuiFieldError | async"></tui-error>

            <tui-input formControlName="fax">
              Факс
              <input tuiTextfield placeholder="Введите номер факса (необязательно)" />
            </tui-input>

            <tui-input formControlName="website">
              Сайт
              <input tuiTextfield placeholder="Введите адрес сайта (необязательно)" />
            </tui-input>

            <tui-input formControlName="bankName">
              Наименование банка / Поиск
              <input tuiTextfield placeholder="Введите название банка или БИК"
                (input)="onBankInput($any($event.target).value)" />
            </tui-input>
            <tui-error formControlName="bankName" [error]="[] | tuiFieldError | async"></tui-error>
            <ul class="suggestions" *ngIf="showBankSuggestions && bankSuggestions.length">
              <li *ngFor="let b of bankSuggestions" (click)="selectBankSuggestion(b)">
                <tui-tag [value]="b.value" [hoverable]="true" [autoColor]="true"></tui-tag>
              </li>
            </ul>

            <tui-input formControlName="bic">
              БИК
              <input tuiTextfield placeholder="9 цифр" />
            </tui-input>
            <tui-error formControlName="bic" [error]="[] | tuiFieldError | async"></tui-error>

            <tui-input formControlName="correspondentAccount">
              Корреспондентский счет
              <input tuiTextfield placeholder="20 цифр" />
            </tui-input>
            <tui-error formControlName="correspondentAccount" [error]="[] | tuiFieldError | async"></tui-error>

            <tui-input formControlName="checkingAccount">
              Расчетный счет
              <input tuiTextfield placeholder="20 цифр" />
            </tui-input>
            <tui-error formControlName="checkingAccount" [error]="[] | tuiFieldError | async"></tui-error>
          </ng-container>

        </ng-container>
      </div>
    </div>
  </tui-scrollbar>

  <!-- Кнопки Сброс и Сохранить -->
  <div class="form-buttons">
    <button tuiButton appearance="outline" type="button" (click)="onReset()" [disabled]="!dataGroup.dirty || isLoading">
      Сбросить
    </button>
    <button tuiButton appearance="primary" type="submit"
      [disabled]="!dataGroup.dirty || dataGroup.invalid || isLoading">
      Сохранить
    </button>
  </div>
</form>